body {
    background-color: #FAFDFF;
}

button {
    background-color: #f0ad4e; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

textarea {
    height: 46px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;

}

.inline {
    margin-top: 20px;
    border-inline: none;
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.messages-field {

}

#all_messages {
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    background-color: #FAFDFF;
}

.person {
    text-align: left;
    background-color: #B6F4FD;
    width: 350px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0 5px 5px;
    margin: 5px;
}

.bot {
    text-align: left;
    background-color: #B6E0FD;
    width: 350px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 5px 5px 0;
    margin-left: auto;
}
.icon {
    width: 50px;
    height: 50px;
    text-align: left;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #000;
    text-align: center;
}

